
.header{
    margin-bottom: 0;
}

.about{
    max-width: 100vw;
    padding: 3rem;
    line-height: 1.5;
}

.photo_about{
    width: 13rem;
    border: 0.5rem dotted #fa709a;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.paragraph{
    color: #33272a;
}
.about_titles{
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #33272a;
}

.certificate{
    width: 12.5rem;
    height: 8.1rem;
    margin-bottom: 1rem;
}
.about_titles::after{
    content: url(image/flor.png);
}

.skills_div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.education_img{
    display: flex;
    justify-content: center;
}
.hobbies_div{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 60vw;
    padding: 1rem 0;
}

.hobbie_icon{
    display: flex;
    margin: auto;
}

.about_span{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    opacity: .5;
}
.hobbies_img{
    width: 50%;
    margin-bottom: 2rem;
}

  